<div style="display: flex; justify-content: space-around;">

    <div style="display: inline-block;">

        <div style="text-align: center;">
            <button (click)="onUpClick()">Góra</button>
        </div>
        <br />
        <div style="text-align: center;">
            <button (click)="onLeftClick()">Lewo</button>
            <button (click)="onDownClick()">Dół</button>
            <button (click)="onRightClick()">Prawo</button>
        </div>
    </div>


    <div style="text-align: center;">
        <button (click)="onStartClick()">Start</button>
        <button (click)="onStopClick()">Stop</button>
        <button (click)="onRestartClick()">Restart</button>
        <div>Wciśnij "Start", aby rozpocząć</div>
    </div>

</div>